/*---*/

#compliance {
    margin-left: 1em !important;
   
    width: 140px;
    height: 2.8em !important;
}

#aboveedit {
    margin-left: 2em !important;
    width: 140px;
    height: 2.8em !important;

}
#statusbar {
    margin-left: -30px;
    margin-top: -20px;
    text-align: center;

}
#completedbar{
    margin-left: -20px;
   
 }

 #draftbelowback{
    width: 140px;
    height: 2.8em !important;
    margin-left: -35em !important;
}

#belowedit{
    margin-left: 2px !important;
    width: 140px;
    height: 2.8em !important;
}

#chevron-left {
    margin-left: -10px;
}

#back {
    margin-top: -1px !important;
    width: 12em !important;
    height: 3em !important;
}


/* 
@media (min-width: 576px)
 {

    #aboveedit{
     border: 1px solid red;
    }
  } */